<ul class="nav nav-pills nav-stacked col-md-3" >
	<li class="presentation" ng-class="{'active' : activeIdx==0 }" ><a ui-sref="viewCustomer" >고객조회</a></li>
	<li class="presentation" ng-class="{'active' : activeIdx==3 }"><a ui-sref="viewByDesigner" >디자이너별 고객</a></li>
	<li class="presentation" ng-class="{'active' : activeIdx==1 }"><a ui-sref="regCustomer" >고객등록</a></li>
	<li class="presentation" ng-class="{'active' : activeIdx==2 }"><a ui-sref="modifyCustomer" >고객정보변경</a></li>
</ul>
