<div class="main-view reg-customer-view" >
	<div class="page-header clearfix">
		<h1 class="pull-left">고객정보변경</h1>
	</div>
	<customer-menu menu-idx="2" ></customer-menu>
	<div class="customer-register col-md-9" >
		<div>
			<form novalidate name="modifyForm" class="form-horizontal" >
				<div  class="form-group" ng-class="{'has-error' : modifyForm.customerId.$invalid && !modifyForm.customerId.$pristine}" >
					<label class="control-label col-md-3" >고객번호</label>
					<div class="col-md-6" >
						<div class="input-group" >
							<input type="text" focus class="form-control" name="customerId" ng-model="customer.id" required />
							<span class="input-group-btn" >
								<button class="btn btn-primary" ng-click="getCustomerInfo(modifyForm)" >고객조회</button>
							</span>
						</div>
						<p class="help-block" ng-show="isExistCustomer==1" ><small>고객번호는 변경할 수 없습니다.</small></p>
						<p class="help-block" ng-show="modifyForm.customerId.$invalid && !modifyForm.customerId.$pristine" ><small>고객번호를 입력하세요.</small></p>
					</div>
				</div>
				<div  class="form-group" ng-class="{'has-error' : modifyForm.customerName.$invalid && !modifyForm.customerName.$pristine}" ng-show="isExistCustomer==1" >
					<label class="control-label col-md-3" >고객이름</label>
					<div class="col-md-6" >
						<input type="text" class="form-control" name="customerName" ng-model="customer.name" required />
						<p class="help-block" ng-show="modifyForm.customerName.$invalid && !modifyForm.customerName.$pristine" ><small>고객이름을 입력하세요.</small></p>
					</div>
				</div>
                                <div  class="form-group" ng-show="isExistCustomer==1" >
                                        <label class="control-label col-md-3" >성별</label>
                                        <div class="col-md-6" >
                                                <label class="radio-inline" >
                                                        <input type="radio" ng-model="customer.gender" name="gender" value="M" />남
                                                </label>
                                                <label class="radio-inline" >
                                                        <input type="radio" ng-model="customer.gender" name="gender" value="F" />여
                                                </label>
                                        </div>
                                </div>
                                <div  class="form-group" ng-class="{'has-error' : modifyForm.birth.$invalid && !modifyForm.birth.$pristine}" ng-show="isExistCustomer==1"  >
                                        <label class="control-label col-md-3" >생년월일</label>
                                        <div class="col-md-6" >
                                                <input type="text" class="form-control" numbers-only name="birth" ng-model="customer.birth" required maxlength="8" tooltip-html-unsafe="ex)19880405" tooltip-append-to-body="true" tooltip-trigger="focus" tooltip-placement="right" />
                                                <p class="help-block" ng-show="modifyForm.birth.$invalid && !modifyForm.birth.$pristine" ><small>생년월일을 입력하세요.</small></p>
                                        </div>
                                </div>
                                <div  class="form-group" ng-class="{'has-error' : modifyForm.lastPhone.$invalid && !modifyForm.lastPhone.$pristine}" ng-show="isExistCustomer==1"  >
                                        <label class="control-label col-md-3" >핸드폰 뒷자리</label>
                                        <div class="col-md-6" >
                                                <input type="text" class="form-control" numbers-only name="lastPhone" ng-model="customer.lastPhone" required maxlength="4" />
                                                <p class="help-block" ng-show="modifyForm.lastPhone.$invalid && !modifyForm.lastPhone.$pristine" ><small>핸드폰 뒷번호 4자리를 입력해주세요.</small></p>
                                        </div>
                                </div>
				
				<div class="form-group"  ng-show="isExistCustomer==0" >
					<p class="help-block text-muted text-center" >등록되지 않는 회원입니다.</p>

				</div>
				<div class="center-block text-center"  ng-show="isExistCustomer==1" >
					<button type="submit" class="btn btn-success" ng-click="modify(modifyForm)" >변경하기</button>
				</div>
			</form>
		</div>
	</div>
</div>
