<div class="main-view reg-customer-view" >
	<div class="page-header clearfix">
		<h1 class="pull-left">고객등록</h1>
	</div>
	<customer-menu menu-idx="1" ></customer-menu>
	<div class="customer-register col-md-9" >
		<div>
			<form novalidate name="regForm" class="form-horizontal" >
				<div  class="form-group has-feedback"  ng-class="{'has-error' : regForm.customerId.$invalid && !regForm.customerId.$pristine}">
					<label class="control-label col-md-3" >고객번호</label>
					<div class="col-md-6" >
						<input type="text" focus class="form-control" name="customerId" ng-model="customer.id" ng-change="chkId(regForm)" required />
						<span class="glyphicon form-control-feedback" ng-class="{'text-success':exist==0, 'text-danger':exist==1, 'glyphicon-ok':exist==0, 'glyphicon-remove':exist==1}" aria-hidden="true" ></span>
						<p class="help-block" ng-show="regForm.customerId.$invalid && !regForm.customerId.$pristine " ><small>{{customerIdComment}}</small></p>
					</div>
				</div>
				<div  class="form-group" ng-class="{'has-error' : regForm.customerName.$invalid && !regForm.customerName.$pristine}">
					<label class="control-label col-md-3" >고객이름</label>
					<div class="col-md-6" >
						<input type="text" class="form-control" name="customerName" ng-model="customer.name" required />
						<p class="help-block" ng-show="regForm.customerName.$invalid && !regForm.customerName.$pristine" ><small>고객이름을 입력하세요.</small></p>
					</div>
				</div>
				<div  class="form-group" >
					<label class="control-label col-md-3" >성별</label>
					<div class="col-md-6" >
						<label class="radio-inline" >
							<input type="radio" ng-model="customer.gender" name="gender" value="M" />남
						</label>
						<label class="radio-inline" >
							<input type="radio" ng-model="customer.gender" name="gender" value="F" />여
						</label>
					</div>
				</div>
				<div  class="form-group" ng-class="{'has-error' : regForm.birth.$invalid && !regForm.birth.$pristine}">
					<label class="control-label col-md-3" >생년월일</label>
					<div class="col-md-6" >
						<input type="text" class="form-control" numbers-only name="birth" ng-model="customer.birth" required maxlength="8" tooltip-html-unsafe="ex)19880405" tooltip-append-to-body="true" tooltip-trigger="focus" tooltip-placement="right" />
						<p class="help-block" ng-show="regForm.birth.$invalid && !regForm.birth.$pristine" ><small>생년월일을 입력해주세요</small></p>
					</div>
				</div>
				<div  class="form-group" ng-class="{'has-error' : regForm.lastPhone.$invalid && !regForm.lastPhone.$pristine}">
					<label class="control-label col-md-3" >핸드폰 뒷자리</label>
					<div class="col-md-6" >
						<input type="text" class="form-control" numbers-only name="lastPhone" ng-model="customer.lastPhone" required maxlength="4" />
						<p class="help-block" ng-show="regForm.lastPhone.$invalid && !regForm.lastPhone.$pristine" ><small>핸드폰 뒷번호 4자리를 입력해주세요.</small></p>
					</div>
				</div>
				<div  class="form-group" >
					<label class="control-label col-md-3" >담당 디자이너</label>
					<div class="col-md-9" >
						<span class="control-block" ng-show="selectedDesigner" >{{selectedDesigner.name}} 디자이너 <a class="btn btn-link" ng-click="selectedDesigner=undefined">X</a></span>
						<a class="btn btn-link" ng-click="openDesignerModal()" ng-hide="selectedDesigner"  >선택하기</a>
						<p class="help-block"  ><small>담당 디자이너는 지금 바로 정하지 않아도 됩니다.<br/>디자이너 지정시 등록과 동시에 담당디자이너에게 알림이 전송됩니다.</small></p>
					</div>
				</div>
				<div class="center-block text-center" >
					<button type="submit" class="btn btn-success" 
					ns-popover
					ns-popover-placement="right"
					ns-popover-ok="register(regForm)" 
					ns-popover-text="등록하시겠습니까?"
					ns-popover-ok-text="등록하기"
					>등록하기</button>
				</div>
			</form>
		</div>
	</div>
</div>
