<div class="main-view view-customer-view" >
	<div class="page-header clearfix">
		<h1 class="pull-left">고객정보조회</h1>
	</div>
	<customer-menu menu-idx="0" ></customer-menu>
	<div class="customer-register col-md-9" >
		<div class="row jumbotron" >
			<p class="help-block text-center" >
				{{totalComment}}
			</p>
		</div>
		<form novalidate name="viewForm" class="form-horizontal" >
			<div class="form-group" ng-class="{'has-error' : viewForm.searchKey.$invalid && !viewForm.searchKey.$pristine}" >
				<label class="control-label col-md-3" >고객번호 또는 이름</label>
				<div class="col-md-6" >
					<div class="input-group" >
						<input type="text" focus class="form-control" name="searchKey" ng-model="searchKey" required />
						<span class="input-group-btn" >
							<button class="btn btn-primary" ng-click="searchCustomer(viewForm)" type="submit" >고객조회</button>
						</span>
					</div>
					<p class="help-block" ng-show="viewForm.searchKey.$invalid && !viewForm.searchKey.$pristine" ><small>고객번호를 입력하세요.</small></p>
				</div>
			</div>




			<div ng-show="customerInfo" >
				<div class="view-result form-group" >
					<label class="control-label col-md-3" >이름</label>
					<div class="col-md-6" >
						<p class="form-control-static" >{{customerInfo.name}}</p>
					</div>
				</div>
				<div class="view-result form-group" ng-show="designerInfo" >
					<label class="control-label col-md-3" >마지막 방문일</label>
					<div class="col-md-6"  >
						<p class="form-control-static" >{{customerInfo.visitDate | fullDate}}</p>
					</div>
				</div>
				<div class="additional-info text-center " ng-show="customerInfo && !designerInfo" >
					<p class="text-muted" > {{customerInfo.name}} 고객님은 한번도 매장에 방문한 적이 없습니다.</p>
					<div class="row btn-area" >
						<input type="button" class="btn btn-primary" value="디자이너 배정하기" ng-click="openDesignerModal()" />
					</div>
				</div>
			</div>
			<div ng-show="designerInfo" >
				<div class="view-result form-group" >
					<label class="control-label col-md-3"  >마지막 시술 디자이너</label>
					<div class="col-md-6"  >
						<p class="form-control-static" >{{designerInfo.name}}</p>
					</div>
				</div>
				<div class="additional-info text-center " >
					<a class="btn btn-link" >방문 히스토리 더보기</a>
				</div>
				<div class="row btn-area text-center" >
					<input type="button" class="btn btn-primary" value="방문 알림 전송" ng-click="sendPush()" />
					<input type="button" class="btn btn-default" value="디자이너 배정하기" ng-click="openDesignerModal()" />
				</div>
			</div>
			<div class="row text-center additional-info" ng-show="showNoCustomer" >
				<p class="text-muted" >등록되지 않은 고객입니다.</p>
			</div>
		</form>
	</div>
</div>
