<div class="main-view c-by-d-view" >
	<div class="page-header clearfix">
		<h1 class="pull-left">디자이너별 고객조회</h1>
	</div>
	<customer-menu menu-idx="3" ></customer-menu>
	<div class="col-md-9" >
		<div class="col-md-5 designer-list" >
			<div class="info-bar" >
				총 {{designerList.length}} 명
			</div>
			<div class="table-container" >
				<table class="table table-hover" >
					<tbody>
						<tr ng-repeat="designer in designerList" ng-click="selDesigner(designer)">
						<td>{{designer.name}}</td> 
						<td>
							<i class="glyphicon glyphicon-ok text-success" ng-show="selDe==designer.id " ></i>
						</td>
						</tr>
					</tbody>
				</table>
			</div>
			
		</div>
		<div class="col-md-7 customer-list" >
			<div ng-hide="customerList == undefined || customerList.length == 0" >
				<div class="info-bar row" >
					<div class="col-md-9 text-left" >
						<div class="form-group has-feedback" >
							<input type="text" ng-model="search" class="search form-control" />
							<i class="glyphicon glyphicon-search form-control-feedback" ></i>
						</div>
					</div>
					<div class="col-md-3 text-right" >
						총{{customerList.length}}명
					</div>
				</div>
				<div class="table-container" >
					<table class="table table-hover" >
						<tbody>
							<tr ng-repeat="customer in customerList  | filter:search:search" ng-mouseover="mouseIn()" ng-mouseleave="mouseOut()" ng-click="selCustomer(customer)" >
								<td  ng-mouseover="console.log('test');" >
									{{customer.name}}({{customer.lastPhone}})
								</td>
								<td class="text-right">
									<a class="btn btn-default btn-xs" ng-show="hover" ui-sref="viewCustomer({customerId:customer.id})" >정보보기</a>
									<button class="btn btn-primary btn-xs" ng-show="hover" ng-click="sendPush(customer)" >알림전송</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div ng-show="customerList == undefined || customerList.length == 0" >
				<div class="no-data text-center" >
					{{noDataMsg}}
				</div>
			</div>
		</div>

	</div>
</div>
