<div class="main-view reg-customer-view" >
	<div class="page-header clearfix">
		<h1 class="pull-left">디자이너 삭제</h1>
	</div>
	<designer-menu menu-idx="2" ></designer-menu>
	<div class="customer-register col-md-9" >
	</div>
</div>
