<div class="main-view detail-designer" >
	<div class="page-header clearfix">
		<h1 class="pull-left">디자이너 상세보기</h1>
	</div>
	<designer-menu menu-idx="0" ></designer-menu>
	<div class="designer-register col-md-9" >
		<h3>{{designer.name}} 디자이너</h3>
		<div class="row" >
			<div class="col-md-8" >
				<h4>hello</h4>
			</div>
			<div class="col-md-4 border-left" >
				<h4>담당 고객 목록</h4>
				<input type="text" ng-model="searchCustomer" class="form-control" placeholder="고객 이름 검색" />
				<ul class="list-unstyled c-list" >
					<li ng-repeat="customer in customerList | searchFor:searchCustomer" ng-click="gotoCustomer(customer.id)" >
						{{customer.name}}<span class="pull-right glyphicon glyphicon-share-alt" ></span>
					</li>
				</ul>

			</div>
		</div>
		<div class="row" >
			<button class="btn btn-danger" >디자이너 탈퇴</button>
		</div>
	</div>

</div>
