<ul class="nav nav-pills nav-stacked col-md-3" >
	<li class="presentation" ng-class="{'active' : activeIdx==0 }" ><a href="javascript:void(0);" ng-click="viewDesigner()" >디자이너 조회</a></li>
	<li class="presentation" ng-class="{'active' : activeIdx==1 }"><a href="javascript:void(0);" ng-click="regDesigner()" >디자이너 신규 등록</a></li>
	<li class="presentation" ng-class="{'active' : activeIdx==2 }"><a href="javascript:void(0);" ng-click="regExistDesigner()" >디자이너 기존 등록</a></li>
</ul>
