<div class="main-view reg-customer-view" >
	<div class="page-header clearfix">
		<h1 class="pull-left">디자이너 등록</h1>
	</div>
	<designer-menu menu-idx="1" ></designer-menu>
	<div class="customer-register col-md-9" >
		<form novalidate name="regForm" class="form-horizontal" >
			<div  class="form-group has-feedback"  ng-class="{'has-error' : regForm.designerId.$invalid && !regForm.designerId.$pristine}" >
				<label class="control-label col-md-3" >디자이너 아이디</label>
				<div class="col-md-6" >
					<input type="email" class="form-control" name="designerId" ng-model="designer.id" ng-change="chkId(regForm)" required />
					 <span class="glyphicon form-control-feedback" ng-class="{'text-success':exist==0, 'text-danger':exist==1, 'glyphicon-ok':exist==0, 'glyphicon-remove':exist==1}" aria-hidden="true" ></span>
					<p class="help-block" ng-show="regForm.designerId.$invalid && !regForm.designerId.$pristine" ><small>{{designerIdComment}}</small></p>
				</div>
			</div>
			<div  class="form-group" ng-class="{'has-error' : regForm.designerName.$invalid && !regForm.designerName.$pristine}">
				<label class="control-label col-md-3" >디자이너 이름</label>
				<div class="col-md-6" >
					<input type="text" class="form-control" name="designerName" ng-model="designer.name" required />
					<p class="help-block" ng-show="regForm.designerName.$invalid && !regForm.designerName.$pristine" ><small>디자이너 이름을 입력하세요.</small></p>
				</div>
			</div>
			<div  class="form-group" ng-class="{'has-error' : regForm.designerPw.$invalid && !regForm.designerPw.$pristine}">
				<label class="control-label col-md-3" >비밀번호</label>
				<div class="col-md-6" >
					<input type="password" id="designerPw" class="form-control" name="designerPw" ng-model="designer.pw" required tooltip-html-unsafe="디자이너가 앱로그인에<br/> 사용할 비밀번호입니다." tooltip-append-to-body="true" tooltip-trigger="focus" tooltip-placement="right" />
					<button class="btn btn-link" ng-mousedown="chkPw(true)" ng-mouseup="chkPw(false)" ><span ng-class="{'glyphicon':true, 'glyphicon-unchecked' : !confirmPw, 'glyphicon-check' : confirmPw}" ></span>비밀번호 확인</button>
					<p class="help-block" ng-show="regForm.designerPw.$invalid && !regForm.designerPw.$pristine">
					<small >비밀번호를 입력하세요.</small>
					</p>
				</div>
			</div>
			<div class="center-block text-center" >
				<button type="submit" class="btn btn-success" 
				ns-popover
				ns-popover-placement="right"
				ns-popover-ok="register(regForm)"
				ns-popover-text="등록하시겠습니까?"
				ns-popover-ok-text="등록하기"
				>등록하기</button>
			<!--

				<button class="btn btn-success" popover="thlkj" popover-append-to-body="true" >등록하기</button>
				-->
			</div>
		</form>
	</div>
</div>
