<div class="main-view reg-customer-view" >
	<div class="page-header clearfix">
		<h1 class="pull-left">디자이너 등록</h1>
	</div>
	<designer-menu menu-idx="2" ></designer-menu>
	<div class="customer-register col-md-9" >
		<form novalidate name="regForm" class="form-horizontal" >
			<div  class="form-group"  ng-class="{'has-error' : regForm.designerId.$invalid && !regForm.designerId.$pristine}">
				<label class="control-label col-md-3" >디자이너 아이디</label>
				<div class="col-md-6" >
					<div class="input-group" >
						<input type="text" class="form-control" name="designerId" ng-model="designer.id" required />
						<span class="input-group-btn" >
							<button class="btn btn-primary" ng-click="searchDesigner(regForm)" type="submit" >검색</button>
						</span>
					</div>

					<p class="help-block" ng-show="regForm.designerId.$invalid && !regForm.designerId.$pristine" ><small>디자이너 아이디를 입력하세요.</small></p>
				</div>
			</div>

			<div ng-show="showDesignerInfo" >
                                <div class="view-result form-group" >
                                        <label class="control-label col-md-3" >이름</label>
                                        <div class="col-md-6" >
                                                <p class="form-control-static" >{{customerInfo.name}}</p>
                                        </div>
                                </div>
                                <div class="view-result form-group" ng-show="designerInfo" >
                                        <label class="control-label col-md-3" >마지막 방문일</label>
                                        <div class="col-md-6"  >
                                                <p class="form-control-static" >{{customerInfo.visitDate | fullDate}}</p>
                                        </div>
                                </div>
                                <div class="additional-info text-center " ng-show="customerInfo && !designerInfo" >
                                        <p class="text-muted" > {{customerInfo.name}} 고객님은 한번도 매장에 방문한 적이 없습니다.</p>
                                </div>
                        </div>
			<div class="center-block text-center" >
				<button type="submit" class="btn btn-success" ng-click="register(regForm)" >등록하기</button>
			</div>
		</form>
	</div>
</div>
