<div class="main-view view-designer-view" >
	<div class="page-header clearfix">
		<h1 class="pull-left">디자이너 조회</h1>
	</div>
	<designer-menu menu-idx="0" ></designer-menu>
	<div class="designer-register col-md-9" >
		<div class="top-area row"  >
			<div class="col-md-4" >
				<input type="text" class="search form-control" ng-model="searchKey" placeholder="디자이너 이름을 입력하세요." />
			</div>
			<div class="col-md-8 text-right" >
				총 {{(designerList | searchFor:searchKey).length}}명
			</div>
		</div>
		<ul class="designer-list list-unstyled" >
			<li ng-repeat="designer in designerList | searchFor:searchKey" class="row" >
				<div class="col-md-3" >
					<span class="pull-left" >
					{{designer.name}}<br/>
					({{designer.id}})
					</span>
				</div>
				<div class="col-md-9 text-right" >
					<button class="btn btn-danger" ng-click="delDesigner(designer)" >Bye</button>
				</div>
			</li>
		</ul>
	</div>
</div>
