<div class="main-view home-view" >
	<div class="page-header clearfix">
		<h1 class="pull-left">기술지원</h1>
	</div>
	<div class="panel panel-info">
		<div class="panel-heading" >Tel.</div>
		<div class="panel-body" >
		<h4>010-5008-0903</h4>
		</div>
	</div>
	<div class="panel panel-info">
		<div class="panel-heading" >Kakao Talk.</div>
		<div class="panel-body" >
		<h4>yunjs04</h4>
		</div>
	</div>
	<div class="panel panel-info">
		<div class="panel-heading" >E-mail.</div>
		<div class="panel-body" >
		<h4>yunjs04@gmail.com</h4>
		</div>
	</div>
	<div class="panel panel-info">
		<div class="panel-heading" >Location.</div>
		<div class="panel-body" >
		<h4>경기도 성남시 분당구 삼평동 푸르지오빌 601호</h4>
		</div>
	</div>
</div>
