<div class="main-view search-view" >
	<div class="page-header clearfix">
		<h1 class="pull-left">고객조회</h1>
	</div>
	<div class="search-result" >
		<div class="search-success center-block" ng-show="showCustomerVisit" >
			<div class="customer-name row">{{customer.name}} 고객님</div>
			<div class="designer-name row" >{{designer.name}} 디자이너님이 시술 </div>
			<div class="visit-date row" >{{customer.visitDate | dateString}} 방문</div>
			<div class="btn-area row" >
			<input type="button" class="btn btn-primary" value="방문 알림 전송" ng-class="{'disabled' : sendBtnDis}"  ng-click="sendPush()" />
			<input type="button" class="btn btn-default" value="다른 디자이너 배정하기" ng-class="{'disabled' : sendBtnDis}" ng-click="openDesignerModal()" />
			</div>
		</div>
		<div class="search-empty center-block" ng-show="showNotRegister" >
			<div class="row no-customer" >"{{customerId}}"는 등록되지 않은 고객입니다.</div>
			<div class="row" >
				<a href="javascript:void(0);" ng-click="regCustomer()" >고객 등록하기</a>
			</div>
		</div>

		<div class="search-first-visit center-block" ng-show="showFirstVisit" >
			<div class="row customer-name" >{{customer.name}} 고객님은 처음 방문하신 고객님입니다.</div>
			<div class="row designer-name" ng-show="showMappedDesigner" >
				{{designer.name}} 디자이너님께 배정된 고객님입니다.
			</div>
	 		<div class="row btn-area" >
				<input type="button" class="btn btn-primary" value="방문 알림 전송" ng-class="{'disabled' : sendBtnDis}" ng-show="showMappedDesigner" ng-click="sendPush()" />
				<input type="button" class="btn btn-default" value="다른 디자이너 배정하기" ng-class="{'disabled' : sendBtnDis}" ng-show="showMappedDesigner" ng-click="openDesignerModal()" />
				<input type="button" class="btn btn-primary" value="디자이너 배정하기" ng-class="{'disabled' : sendBtnDis}" ng-click="openDesignerModal()" ng-hide="showMappedDesigner"  />
			</div>
		</div>
	</div>
</div>
