<div class="main-view home-view" >
	<div class="page-header clearfix">
		<h1 class="pull-left">고객조회</h1>
	</div>
	<div class="input-box">
		<form novalidate name="searchForm" >
			<div class="form-group" ng-class="{'has-error' : searchForm.searchKey.$invalid && !searchForm.searchKey.$pristine}">
				<label>고객 검색(고객번호 또는 이름)</label>
				<input type="text" ng-model="searchKey" name="searchKey" class="form-control c-id-input" focus required />
				<p class="help-block" ng-show="searchForm.searchKey.$invalid && !searchForm.searchKey.$pristine"  ><small>고객 번호를 입력하세요.</small></p>
			</div>
			<div class="btn-container" >
				<input type="submit" ng-click="searchCustomer(searchForm)" value="조회하기" class="btn btn-primary search-btn" />
			</div>
		</form>
	</div>
</div>
