#sec-customer-memo  .m-meta {
	text-align:right;
	padding-top:4px;
	font-size:0.9em;
	width:100%;
	height:3em;
}
#sec-customer-memo  .popover-btn{
	position:absolute;
	top:0;
	bottom:0;
	width:100%;
}
#sec-customer-memo  .m-meta .is-hi-memo{
	background:url(../img/visit-icon.png) center center no-repeat;
	background-size:16px 16px;
	display:inline-block;
	margin-left:10px;
	width:16px;
	height:16px;
}
#sec-customer-memo .memo-item .m-content{
	white-space:pre;
}
#sec-customer-memo .memo-item .m-date{
	text-align:right;
	margin-top:1em;
	color:#999999;
	font-size:0.8em;
}
#sec-customer-memo .write-btn{
	position:fixed;
	bottom:20px;
	left:20px;
	border-radius:50%;
	width:50px;
	height:50px;
	z-index:9999;
	box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.platform-ios #sec-customer-memo .write-btn{
	bottom:60px;
	left:20px;
}
#sec-customer-memo .dist{
	width:100%;
	height:40px;
}
#sec-customer-memo .saving{
	position:absolute;
	top:0px;
	right:0px;
	background-color:#387EF5;
	color:white;
	padding:0px 2px;
}
#sec-customer-memo .list{
	background-color:#f9f9f9;
}


#write-memo {
	/*
	overflow-y:auto;
	overflow-:hidden;
	*/
}
#write-memo  div.proc-items {
	padding:0;
	width:100%;
}

#write-memo .content-item{
	/*
	border-bottom:1px solid #ddd;
	margin-bottom:4px;
	*/
}
#write-memo textarea{
	border:none;
	width:100%;
	margin-auto;
	padding-left:0.7em;
	padding-right:0.7em;
	padding-top:0.7em;
	border-radius:0px;
	height:220px;
}
