#sec-customer-list .search-area{
	line-height:1em;
	padding:4px 8px;
		/*
	border-top:1px solid #ddd;
	*/
	display:table;
	width:100%;
}
#sec-customer-list .search-key{
	background:transparent;
	border:none;
	display:table-cell;
	margin:0;
	padding-left:10px;
	width:90%;
}
#sec-customer-list .search-icon{
	background:url(../img/search-icon.png) center left no-repeat;
	background-size:20px 20px;
	width:20px;
	height:20px;
	vertical-align:middle;
	display:table-cell;
}
#sec-customer-list .item .item-note{
	width:10em;
	text-align:right;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden

}
#sec-customer-list .item{
	margin:0;
}
#sec-customer-list .search-cancel{
	width:20px;
	vertical-align:middle;
	display:table-cell;
	color:#afafaf;
}
#profile-page .p-thumb{
	text-align:center;
	width:100%;
	padding-top:30px;
	background-color:#387ef5;
}
#profile-page .p-thumb .p-img{
	border:1px solid #387ef5;
	width:80px;
	height:80px;
	border-radius:50%;
	background-color:white;
	margin:auto;
	font-size:6.4em;
	overflow:hidden;
	line-height:120%;
	color:#0c63ee;
}
#profile-page .p-name{
	padding-top:1em;
	padding-bottom:1.5em;
	color:white;
}
#profile-page .p-fixed-memo{
	padding:1.5em;
}
#profile-page .p-fixed-memo p{
	white-space:pre;
}
#profile-page .p-fixed-memo textarea{
	width:100%;
	height:11em;
	border:1px solid #ddd;
	padding:1em;
}
#profile-page .func-btn{
	padding-top:40px;
	text-align:center;
}
#profile-page .func-btn .button{
	border-radius:50%;
	width:60px;
	height:60px;
	margin-left:20px;
	margin-right:20px;
}
#profile-page .func-btn .button:before{
	font-size:1.7em;

}
