#sec-memo-list .m-list  .m-meta{  
	display:table;
	table-layout-fixed;
	width:100%;
}
#sec-memo-list .m-list  .c-name{  
	display:table-cell;
	text-align:left;
}
#sec-memo-list .m-list  .m-date{  
	text-align:right;
	display:table-cell;
	color:#afafaf;
	font-size:0.8em;
}
#sec-memo-list .m-list  .last-memo{  
	font-size:0.9em;
	color:#999999;
	height:2.0em;
	padding:2px 0px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	width:80%;

}
#sec-memo-list .m-list  .visit-icon{  
	background:url(../img/visit-icon.png) top left no-repeat;
	background-size:16px 16px;
	display:inline-block;
	margin-left:5px;
	margin-right:3px;
	width:16px;
	height:16px;
}
#sec-memo-list .m-list  .visit-date{  
	font-size:0.8em;
	color:#afafaf;
}
