#change-password .item-checkbox{
	border-top:none;
}
#sec-stats .wrap{
	width:100%;
	height:100%;
	border:1px solid red;
}
#sec-stats .s-box {
	font-size:1.3em;
}
#sec-stats .m-box {
	font-size:1.8em;
}
#sec-stats .stats-box {
	position:relative;
	text-align:center;
	padding:20px 10px;
	border:1px solid white;
	line-height:120%;
}
#sec-stats .stats-box .bot{
	position:absolute;
	bottom:15px;
}
#sec-stats .stats-box .right{
	position:absolute;
	right:15px;
	text-align:right;
}
#sec-stats .stats-box .left{
	position:absolute;
	left:15px;
	text-align:left;
	width:100%;
}
#sec-stats .stats-box.green{
	background-color:#1d9f61;
	color:white;
}
#sec-stats .stats-box.blue{
	background-color:#226692;
	color:white;
}
#sec-stats .stats-box.yellow{
	background-color:#e5922a;
	color:white;
}
#sec-stats .stats-box.red{
	background-color:#e55a2a;
	color:white;
}

