.chart-wrap{
	width:100%;
	margin-top:30px;
	text-align:center;
	position:relative;
}
.stats-can{
	width:95%;
	height:300px;
}
.chart-wrap .chart-title{
	padding-left:20px;
	padding-bottom:10px;
	font-weight:bold;
	text-align:left;
}

.range {
	width:100%;
}
.range input[type=range] {
	background-size:99% 4px;
}
.range input::-webkit-slider-thumb:before {
	top: 12px;
	height: 4px;
}

#sec-chart .chart-list .item{
	padding-left:5px;
	padding-right:5px;
}
#sec-chart .chart-list .item .row{
	padding:0;
}
#sec-chart .chart-intro{
	padding-top:50px;
	text-align:center;
	font-size:0.8em;
}
#sec-chart .chart-intro.today{
	border-bottom:3px solid rgba(56, 126, 245, .6);
}
#sec-chart .date-pick{
	text-align:center;
}
#sec-chart .date-pick .icon:before{
	font-size:0.9em;
	padding-right:4px;
}
#sec-chart .gender-txt .icon{
	font-size:2.0em;
}
#sec-chart .ion-man{
	color:#46BFBD;
}
#sec-chart .ion-woman{
	color:#F7464A;
}
#sec-chart .gender-txt{
	position:absolute;
	text-align:center;
	width:100%;
	top:125px;
}
#sec-chart .stats-total{
	text-align:center;
	width:100%;
	font-size:3em;
	padding-top:40px;
	padding-bottom:40px;
}
#sec-chart .doughnut-txt{
	position:absolute;
	text-align:center;
	font-size:3em;
	width:100%;
	top:135px;
}
#sec-chart .chart-top-cmt .ion-man:before,
#sec-chart .chart-top-cmt .ion-woman:before{
	font-size:2em;
	padding-left:0.4em;
	padding-right:0.4em;
}
#sec-chart .chart-top-cmt{
	text-align:center;
}
