@font-face{
	font-family:'NanumBarunGothic';
	font-style:normal;
	font-weight:200;
	src:url('./NanumBarunGothic.woff') format('woff');
}
@font-face{
	font-family:'NanumBarunGothic';
	font-style:normal;
	font-weight:700;
	src:url('./NanumBarunGothicBold.woff') format('woff');
}
a, input, select, textarea, option {
	font-family:"NanumBarunGothic", "NanumGothic" !important;
}
/*
input[type="text"], input[type="password"], input[type="search"], input[type="number"]   {
	width:100%;
	border:1px solid #d9d9d9;
	padding:0.4em 0.4em;
	outline:none;
	border-radius:4px;
	font-size:inherit;
	margin-bottom:8px;
}
*/
textarea{
	font-size:inherit;
	border:1px solid #fefefe;
	border-radius:4px;
	outline:none;
	resize:none;
}
body {
	font-family:"NanumBarunGothic", "NanumGothic" !important;
	color:#333333; 
	margin:0;
	width:100%;
	height:100%;
      /*
	background:url(../img/back.jpg) top left no-repeat fixed;
	*/
}
ul{ padding:0; margin:0;list-style:none; }
li{ text-align:center; }
li a{ display:block; width:100%;height:100%;}

li > a{
	color:inherit;
}
.icon-home{
	background:url("../img/nav/customer.png") no-repeat ;
	background-size:38px 38px;
	background-position:center 3px;
	height:42px !important;
}
.icon-memo{
	background:url("../img/nav/memo.png") no-repeat ;
	background-size:38px 38px;
	background-position:center 3px;
	height:42px !important;
}
.icon-setting{
	background:url("../img/nav/setting.png") no-repeat ;
	background-size:38px 38px;
	background-position:center 3px;
	height:42px !important;
}
	/*
.tab-nav.tabs{
	background-color:#00aeef !important;
}
.bar.bar-positive{
	background-color:#00aeef !important;
	border-color:#00aeef !important;
}
*/

.item.active, .item.activated, .item-complex.active .item-content, .item-complex.activated .item-content, .item .item-content.active, .item .item-content.activated{
	background-color:#f9f9f9;
}


.no-list-data{
	text-align:center;
	padding-top:30px;
}
.no-list-data h4{
	color:#aaa;
}



.j-dp{
	width:100%;
}
.j-dp .dp-header {
	height:60px;
	padding-top:10px;
}
.j-dp .dp-header > div{
	display:inline-block;
	text-align:center;
	height:100%;
	font-size:1.2em;
}
.j-dp .dp-header .prev-mon,
.j-dp .dp-header .next-mon{
	width:20%;
}
.j-dp .dp-header .now-mon{
	width:60%;
}
.j-dp .date{
	width:100%;
}
.j-dp .dp-body .date-col{
	width:14.285%;
	display:inline-block;
	text-align:center;
	height:50px;
	line-height:50px;
	border-bottom:1px solid #ddd;
}
.j-dp .dp-body .month-col{
	width:25%;
	display:inline-block;
	text-align:center;
	height:50px;
	line-height:50px;
	border-bottom:1px solid #ddd;
}
.j-dp .dp-body .date-col span{
	font-size:0.9em;
}
.j-dp .dp-body .date-col.out-date{
	color:#ddd;
}
.j-dp .dp-func{
	padding-top:30px;
}
.j-dp .dp-func .col{
	text-align:center;
}

