<ion-view title="계정" >
<ion-content id="sec-account" >
	<div class="list" >
		<div class="item" >
			Who? <span class="item-note" >{{designer.name}} 디자이너</span>

		</div>
		<div  class="item item-icon-right" on-tap="changePassword()" >
			비밀번호 변경
			<i class="icon ion-chevron-right"></i>
		</div>
		<div  class="item item-button-right" >
		로그아웃
			<button class="button button-light" on-tap="signOut()" >
				<i class="icon ion-log-out" ></i>
			</button>
		</div>
	</div>
</ion-content>
</ion-view>
