<ion-view title="비밀번호 변경" id="change-password" >
<ion-content scroll="false" >
<div class="list" >
	<label class="item item-input item-floating-label" >
		<span class="input-label" >현재 비밀번호</span>
		<input type="password" ng-model="pw.oldPw" placeholder="현재 비밀번호" />
	</label>
	<label class="item item-input item-floating-label" >
		<span class="input-label" >새 비밀번호</span>
		<input type="password" ng-model="pw.newPw" placeholder="새 비밀번호" id="confirm-pw" />
	</label>
	<div  class="item item-checkbox" >
		<label class="checkbox" >
			<input type="checkbox" ng-click="confirmPw()" ng-model="pw.showPw" >
		</label>비밀번호 확인
	</div>
</div>
<button class="button button-positive button-block" on-tap="changePassword()" >변경하기</button>
</ion-content>
</ion-view>
