<ion-view title="{{customer.name}}" id="sec-customer-memo" class="tabs-item-hide"  >
<ion-content delegate-handle="customer-memo" >
	<div class="row" ng-show="customerMemoList.length == 0" >
		<div class="col no-list-data" >
			<h4>작성된 메모가 없습니다.</h4>	

		</div>

	</div>
	<ion-list>
		<div class="card list" ng-repeat="memo in customerMemoList track by memo.timestamp" on-hold="memoOption.showMemoOption($event, $index)" >
			<div class="item item-text-wrap" >
				<span ng-show="memo.state == 'saving'" class="icon ion-paper-airplane saving" ></span>
				<div class="m-meta" >
					{{getProcName(memo.proc)}} 
					<span class="is-hi-memo" ng-show="memo.isHiMemo" ></span>
				</div>
				<div class="memo-item"  >
					<div class="m-content" >{{memo.content}}</div>
					<div class="m-date" >{{memo.date | memoDateLong}}</div>
				</div>
			</div>
		</div>
	</ion-list>
	<ion-infinite-scroll on-infinite="loadMore()" ng-if="isMoreData" ></ion-infinite-scroll>
<div class="dist" ></div>
</ion-content>
<button class="write-btn button-positive button icon ion-compose" on-tap="writeMemo({customerId:customer.id, customerName:customer.name})" ></button>

</ion-view>



<script id="memoOptionPopover.html" type="text/ng-template" >
<ion-popover-view style="height:170px;" id="menu-popover" >
        <ion-content >
                <div class="list" >
                        <div class="item" >옵션</div>
                        <a class="item" on-tap="memoOption.modMemo()"  >수정</a>
                        <a class="item" on-tap="memoOption.delMemo()"  >삭제</a>
                </div>
        </ion-content>
</ion-popover-view>
</script>

