<ion-view title="고객 목록">
<ion-content id="sec-customer-list" delegate-handle="customer-scroll" >
	<div class="customer-list-area" ng-show="customerList.length" >
		<div class="search-area" >
			<span class="search-icon" ></span>
			<input type="text" ng-model="searchKey" class="search-key" ng-change="searchCustomer()" />
			<span class="search-cancel" ng-show="searchKey" on-tap="searchCustomer('')" >X</span>
		</div>
	</div>
	<div class="row" ng-show="customerList.length == 0" >
		<div class="col no-list-data" >
			<h4>지정된 담당고객이 없습니다.</h4>
		</div>
	</div>
	<ion-list >
		<ion-item
		collection-repeat="customer in customerList|searchFor:searchKey"
		collection-item-height="60px"
		collection-item-width="100%"
		on-tap="showFMPopup(customer, $index)" on-hold="showOption($event, customer)" >
			{{customer.name}} 
			<span class="item-note">{{customer.fixedMemo}}</span>
		</ion-item>

	</ion-list>
</ion-content>
</ion-view>

<script id="optionPopover.html" type="text/ng-template" >
<ion-popover-view style="height:120px;" >
	<ion-content scroll="false" >
		<div class="list" >
			<div class="item" >{{selCustomer.name}}</div>
			<a class="item" on-tap="delCustomer()"  >삭제</a>
		</div>
	</ion-content>
</ion-popover-view>
</script>
<script id="fixedMemo.html" type="text/ng-template" >
<ion-modal-view id="profile-page" >
        <ion-header-bar class="bar bar-header bar-positive" >
                <h1 class="title" >고객 정보</h1>
                <div class="button button-clear button-primary" on-tap="fixedMemoModal.hide()" >
                        <span class="icon ion-close" ></span>
                </div>
        </ion-header-bar>
        <ion-content padding="false" scroll="true" delegate-handle="p-scroll" has-bouncing="false" >
		<div class="p-thumb" >
			<div class="p-img" >
				<span class="icon ion-person" ></span>
			</div>
			<div class="p-name" >
				{{selCustomer.name}}({{selCustomer.gender}})<br/>
				{{selCustomer.lastPhone}}
			</div>
		</div>
		<div class="func-btn" >
			<button class="button icon ion-edit button-positive button-outline" on-tap="modFixedMemo(selCustomer)" ></button>
			<button class="button icon ion-compose button-positive button-outline" on-tap="writeMemo(selCustomer)" ></button>
			<button class="button icon ion-stats-bars button-positive button-outline" ></button>

		</div>
		<div class="p-fixed-memo" >
			<p ng-hide="fixedMemo.modFM" >{{selCustomer.fixedMemo}}</p>
			<div class="p-mod-form" ng-show="fixedMemo.modFM" >
				<span>{{fixedMemo.newFM.length}} / {{fixedMemo.maxFMLen}}</span>
				<textarea placeholder="고정메모를 작성하세요." ng-model="fixedMemo.newFM" ng-keydown="fixedMemo.chkLen($event)" ></textarea>
				<button class="button button-block button-positive" on-tap="fixedMemo.save()" >변경하기</button>
			</div>
		</div>
        </ion-content >
</ion-modal-view>

</script>
	

