<ion-view title="메모리스트" >
<ion-content id="sec-memo-list" >
	<div class="row" ng-show="memoRoomList.list.length==0" >
		<div class="col no-list-data" >
			<h4>작성된 메모가 없습니다.</h4>
		</div>
	</div>
	<ion-list class="m-list" >
		<ion-item
		collection-repeat="memo in memoRoomList.list track by memo.customer.id" 
		collection-item-height="80px"
		collection-item-height="100%"
		on-hold="showOption($event, memo.customer)"
		on-tap="showMemo(memo.customer)" >
			<div class="m-meta" >
				<div class="c-name" >{{memo.customer.name}}<span class="visit-icon" ng-show="memo.isVisit" ></span></div>
				<!-- <div class="m-date" >{{memo.isVisit | visitTime}}</div> -->
				<div class="m-date" >
					<span ng-show="memo.isVisit" >{{memo.isVisit | visitTime}}</span>
					<span ng-hide="memo.isVisit" >{{memo.data[0].date | memoDate}}</span>
				</div>
			</div>
			<div class="last-memo" >{{memo.data[0].content}}</div>

		</ion-item>
	</ion-list>
</ion-content>
</ion-view>


<script id="memoOptionPopover.html" type="text/ng-template" >
<ion-popover-view style="height:120px;" >
        <ion-content scroll="false" >
                <div class="list" >
                        <div class="item" >{{selCustomer.name}}</div>
                        <a class="item" on-tap="delCustomer()"  >삭제</a>
                </div>
        </ion-content>
</ion-popover-view>
</script>

