<ion-view title="설정" >
<div id="sec-pref" >
<ion-content>
	<div class="list">
		<div class="item item-icon-left" on-tap="account()" >
			<i class="icon ion-key"></i>계정
		</div>
		<div class="item item-icon-left" on-tap="stats()" >
			<i class="icon ion-stats-bars"></i>통계
		</div>
	</div>
</ion-content>
</div>
</ion-view>
