<ion-view title="로그인" >
<div id="signIn" class="main-section" >
<ion-content >

	<div class="list" >
		<label class="item item-input item-floating-label" >
			<span class="input-label" >이메일</span>
			<input type="text" ng-model="account.id" placeholder="account@email.com" >
		</label>
		<label class="item item-input item-floating-label" >
			<span class="input-label" >비밀번호</span>
			<input type="password" ng-model="account.pw" placeholder="비밀번호" />
		</label>
	</div>
	<button class="button button-block button-positive" on-tap="signIn()" >로그인</button>

</ion-content>
</div>
</ion-view>
