<ion-view title="통계" padding="false" >
<ion-content id="sec-stats" >
	<div class="row" >
		<div class="col-50 stats-box m-box green" ui-sref="visit" >
			<div class="left" > Today<br/> Visit </div>
			<br/><br/><br/>
			<div class="bot right" >{{main.today}}</div>
		</div>
		<div class="col-50 stats-box m-box red" ui-sref="totalCustomer" >
			Total - {{main.total.tot}}<br/><br/>
			<span class="icon ion-man" ></span> {{main.total.m}} : {{main.total.f}} <span class="icon ion-woman" ></span>	
		</div>
	</div>
	<div class="row" >
		<div class="col-50" ui-sref="busyDay" >
			<div class="col stats-box m-box yellow" >
				<div class="left" >Busy Day</div>
				<div class="bot right" >{{main.busyDay}}</div>
				<br/><br/><br/>
			</div>
		</div>
		<div class="col-50 stats-box m-box blue"  ui-sref="procStats" >
			<div class="left" >{{main.proc.procTxt}}</div>
			<div class="bot right" >{{main.proc.val}}</div>
		</div>
	</div>
	<div class="row" >
		<div class="col stats-box m-box green" ui-sref="returnRatio" >
			<div class="left" >Return Ratio</div>
			<div class="right" >12.5%</div>
			<br/>
		</div>
	</div>
</ion-content>
</ion-view>
