<ion-view >
<ion-nav-title>
{{customer.name}}
</ion-nav-title>
<ion-nav-buttons side="right" >
	<a class="button icon-right ion-checkmark button-clear" on-tap="saveMemo()" ></a>
</ion-nav-buttons>
<ion-content  id="write-memo" overflow-scroll="true" padding="false" >
	<div class="list" >
		<div class="item item-divider" >
			메모작성<span ng-show="memo.isVisit" >({{memo.isVisit|visitTime}})</span>
		</div>
		<div class="item content-item" >
			<textarea ng-model="memo.content" placeholder="Write memo here ..." id="memo-content" ></textarea>
		</div>
		<div class="item item-divider" >
			시술	
		</div>
		<div ng-repeat="p in proc track by p.num" class="item-checkbox item" >
			<label class="checkbox" >
				<input type="checkbox" ng-model="memo.proc[p.num]" ng-true-value="{{p.num}}" />
			</label>{{p.name}}

		</div>
	</div>

</ion-content>
</ion-view>
