<div class="del-designer-modal" >
	<div class="modal-header" >
		<h3 class="modal-title">디자이너 관리</h3>
	</div>
	<div class="modal-body" >
		<h3>{{designer.name}} 디자이너와 정말 Bye Bye하시겠습니까?</h3>
		<p class="help-block" >
			디자이너와 안녕 하게 될 경우...</br>
			<small>
			<ul class="del-inform" >
				<li>디자이너의 어플에서 담당 고객 목록과 메모가 삭제됩니다.</li>
				<li>디자이너는 언제든지 재등록 가능하며, 재등록 시 등록한 매장에서의 이전 고객/메모 목록은 복구됩니다.</li>
			</ul>
			</small>

		</p>
		<div class="text-center" >
		<img ng-src="{{byebyeImg}}" />
		</div>
	</div>
	<div class="modal-footer" >
		<button class="btn btn-danger" ng-click="del()" >Bye</button>
		<button class="btn btn-default" ng-click="close()" >닫기</button>
	</div>
</div>
