<div class="designer-modal list-modal" >
	<div class="modal-header" >
		<h3 class="modal-title">디자이너</h3>
	</div>
	<div class="modal-body" >
		<div class="top-area row">
			<div class="col-md-4" >
				<div class="form-group has-feedback" >
					<input type="text" class="search form-control" ng-model="searchKey" placeholder="디자이너 이름 검색" />	
					<i class="glyphicon glyphicon-search form-control-feedback" ></i>
				</div>
			</div>
			<div class="col-md-8 text-right" >
				총 {{(designerList | searchFor:searchKey).length}}명
			</div>

		</div>
		<ul class="item-list list-unstyled" >
			<li ng-repeat="designer in designerList | searchFor:searchKey" class="row" >
				<div class="d-name col-md-8" >{{designer.name}}</div>
				<div class="d-name col-md-4 text-right" >
					<button class="btn btn-success" ng-click="clickDesigner(designer)"  >{{btnText}}</button>
				</div>
			</li>
		</ul>
	</div>
	<div class="modal-footer" >
		<button class="btn btn-default" ng-click="close()" >닫기</button>
	</div>
</div>
