<div class="sel-customer-modal list-modal" >
	<div class="modal-header" >
		<h3 class="modal-title">고객</h3>
	</div>
	<div class="modal-body" >
		<div class="top-area row">
			총 {{customerList.length}}명의 고객분들이 검색되었습니다. 

		</div>
		<ul class="item-list list-unstyled" >
			<li ng-repeat="customer in customerList | searchFor:searchKey" class="row" >
				<div class="d-name col-md-8" >{{customer.name}}({{customer.lastPhone}})</div>
				<div class="d-name col-md-4 text-right" >
					<button class="btn btn-success" ng-click="selCustomer(customer)"  >선택</button>
				</div>
			</li>
		</ul>
	</div>
	<div class="modal-footer" >
		<button class="btn btn-default" ng-click="close()" >닫기</button>
	</div>
</div>
