.search-view .customer-name{
	font-size:3em;
	text-align:center;
	padding-top:20px;
}
.search-view .search-result .row{
	padding-top:20px;
	text-align:center;
}
.search-view .search-result .designer-name,
.search-view .search-result .no-customer{
	font-size:2em;
}
.search-view .search-success .visit-date{
	font-size:1.6em;
	color:#999999;
}

