.view-customer-view .additional-info{
	padding-top:20px;
}
.c-by-d-view .table-container{
	height:500px;
	overflow-y:auto;
	margin-top:10px;
}
.c-by-d-view .info-bar{
	height:2em;
	margin-bottom:25px;
}
.c-by-d-view .table-container table tr{
	cursor:pointer;
}
.c-by-d-view .table-container table tr:last-child td{
	border-bottom:1px solid #ddd;
}

.c-by-d-view .customer-list .no-data{
	width:100%;
	padding-top:120px;
	color:#a8a8a8;
	font-size:1.3em;
}
.c-by-d-view .table-container table td button{
	margin-right:10px;
}
/*
.c-by-d-view .customer-list ul.list li{
	cursor:pointer;
}
.c-by-d-view .customer-list ul.list li:hover{
	background-color:#ddd;
}
*/
