.list-modal ul.item-list{
	margin:auto;
	padding-top:20px;
}
.list-modal ul.item-list li:hover{
	background-color:#f0f0f0;
}
.list-modal ul.item-list li {
	padding-top:10px;
	padding-bottom:10px;
	border-bottom:1px solid #cccccc;
}
.list-modal ul.item-list li:first-child{
	border-top:1px solid #cccccc;
}
.list-modal .modal-body{
	max-height:600px;
	overflow-y:auto;
	padding-left:5%;
	padding-right:5%;
}
