.view-designer-view .designer-list{
	padding-top:20px;
}
.view-designer-view .designer-list li{
	border-top:1px solid #ccc;
	padding-top:10px;
	padding-bottom:10px;
}
.view-designer-view .designer-list li:last-child{
	border-bottom:1px solid #ccc;
}
.view-designer-view .designer-list li:hover{
	background-color:#f0f0f0;
}
.detail-designer .c-list {
	padding-top:10px;
}
.detail-designer .c-list li:hover{
	background-color:#f0f0f0;
}
.detail-designer .c-list li{

	padding-top:10px;
	padding-bottom:10px;
	border-bottom:1px solid #cccccc;
	padding-left:5px;
	padding-right:5px;
	cursor:pointer;
}
.detail-designer .c-list li:first-child{
	border-top:1px solid #d9d9d9;
}
.detail-designer .border-left{
	border-left:1px solid #cccccc;
}


.del-designer-modal .del-inform{
	padding-left:20px;
}
