.home-view .input-box{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	width:400px;
	height:200px;
	margin:auto;
}
.home-view .input-box .c-id-input{

}
.home-view .input-box .btn-container{
	text-align:center;
}
