.sign-in-container{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	width:400px;
	height:300px;
	margin:auto;
}
.resign-in-container{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	width:400px;
	height:500px;
	margin:auto;
}
.resign-in-container .resign-in-comment{
	padding-bottom:20px;
	font-size:1.5em;
	
}
