@font-face{
	font-family:'NanumBarunGothic';
	font-style:normal;
	font-weight:700;
	src:url('./font/NanumBarunGothicBold.woff') format('woff');
}
@font-face{
	font-family:'NanumBarunGothic';
	font-style:normal;
	font-weight:200;
	src:url('./font/NanumBarunGothic.woff') format('woff');
}
html{
	height:100%;
}
/*
input, div, a, html, body, textarea, li{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;    
	box-sizing: border-box;        
	-webkit-appearance:none;
	font-size:inherit;
}
*/
input[type="checkbox"]{
	-webkit-appearance:checkbox;
}
a, input, select, textarea, option {
	font-family:"NanumBarunGothic", "NanumGothic" !important;
	outline:none;
}
textarea{
	font-size:inherit;
	border:1px solid #fefefe;
	border-radius:4px;
	outline:none;
	resize:none;
}
body {
	font-family:"NanumBarunGothic", "NanumGothic" !important;
	margin:0;
	min-height:100%;
	width:100%;
      /*
	background:url(../img/back.jpg) top left no-repeat fixed;
	*/
}
ul{
	padding:0;
	margin:0;
       list-style:none;
}
ul.list li{
	
	border-top:1px solid #ddd;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:5px;
}
ul.list li:last-child{
	border-bottom:1px solid #ddd;
}
.full-bg{
	background: url(../img/bg2.jpg) no-repeat bottom center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.full-bg .form-group label{
	color:white;
}
a{cursor:pointer;}


.btn-area .btn{
	margin-left:20px;
	margin-right:20px;
}
