<ion-view title="바쁜요일" padding="false" >
<ion-content id="sec-chart" >
	<div class="row" >
		<div class="col date-pick" >
			<button class="button button-clear" on-tap="showSDatePicker();"><span class="icon ion-calendar"></span>{{chart.sDateTxt}}</button>
			<button class="button button-clear" disabled="true" >~</button>
			<button class="button button-clear" on-tap="showEDatePicker();"><span class="icon ion-calendar"></span>{{chart.eDateTxt}}</button>
		</div>
	</div>
	<div class="row" >
		<div class="col date-pick" >
			<button class="button button-block button-clear button-positive button-small" on-tap="drawChart()" >조회하기</button>
		</div>

	</div>
	<div class="list chart-list" >
		<div class="item item-divider" >
			요일별 방문 고객
		</div>
		<div class="item"  >
			<canvas style="width:100%;height:200px" id="busyday-chart" ></canvas>
		</div>
	</div>
</ion-content>

</ion-view>
<script id="sdatepicker.html" type="text/ng-template" >
<ion-modal-view id="calendar-modal" >
        <ion-header-bar class="bar bar-header bar-positive" >
                <h1 class="title" >시작 날짜 선택</h1>
                <div class="button button-clear button-primary" on-tap="sDateModal.hide()" >
                        <span class="icon ion-close" ></span>
                </div>
        </ion-header-bar>
        <ion-content padding="false" scroll="true" has-bouncing="false" >
                <j-date-picker sel-callback="selectSDate(dateObj)" sel-date="chart.sDate" ></j-date-picker>
        </ion-content >
</ion-modal-view>
</script>
<script id="edatepicker.html" type="text/ng-template" >
<ion-modal-view id="calendar-modal" >
        <ion-header-bar class="bar bar-header bar-positive" >
                <h1 class="title" >끝 날짜 선택</h1>
                <div class="button button-clear button-primary" on-tap="eDateModal.hide()" >
                        <span class="icon ion-close" ></span>
                </div>
        </ion-header-bar>
        <ion-content padding="false" scroll="true" has-bouncing="false" >
                <j-date-picker sel-callback="selectEDate(dateObj)" sel-date="chart.eDate" ></j-date-picker>
        </ion-content >
</ion-modal-view>
</script>

