<ion-view title="고객" padding="false" >
<ion-content id="sec-chart" >
	<div class="list chart-list" >
		<div class="item item-divider" >
			남/여
		</div>
		<div class="item"  >
			<canvas style="width:100%; height:250px;" id="gender-chart" >
			</canvas> 
			<div class="gender-txt"  ><span class="icon ion-man" ></span><span class="ratio-txt" >{{chart.gender.txt}}</span><span class="icon ion-woman" ></span></div>

		</div>
		<div class="item item-divider" >
			연령
		</div>
		<div class="item" >
			<canvas style="width:100%; height:300px;" id="age-chart" ></canvas> 
		</div>
	</div>
</ion-content>

</ion-view>

