<ion-view title="고객 방문" padding="false" >
<ion-content id="sec-chart" overflow-scroll="true" >
	<div class="row" >
		<div class="button-bar" >
			<button class="button button-positive button-small" ng-class="{'button-outline' : period.dist!=0}" on-tap="weekly()" >주</button>
			<button class="button button-positive button-small" ng-class="{'button-outline' : period.dist!=1}" on-tap="monthly()" >월</button>
			<button class="button button-positive button-small" ng-class="{'button-outline' : period.dist!=2}" on-tap="yearly()" >년</button>
		</div>
	</div>
	<div class="row" >
		<div class="col date-pick"  >
			<button class="button button-clear" on-tap="showPicker();"><span class="icon ion-calendar"></span>{{selTerm}}</button>
		</div>
	</div>
	<div class="list chart-list" >
		<div class="item item-divider" >
			{{chart.totTitle}} ({{chart.totCount}}명)
		</div>
		<div class="item"  >
			<period-chart-tot coord="tot" ></period-chart-tot>
		</div>
		<div class="item item-divider" >
			{{chart.title}}
		</div>
		<div class="item" ng-repeat="c in chart.list" >
			<div class="row">
				<div class="col">
					<div class="chart-intro"  >
						{{printTitle(c.title)}}<br/>
						{{sum(c.y)}}명
					</div>
				</div>
				<div class="col col-75">
					<period-chart x="c.x" y="c.y" axis-x-term="chart.axisXTerm" ></period-chart>
				</div>
			</div>

		</div>
	</div>
</ion-content>

</ion-view>
<script id="datepicker.html" type="text/ng-template" >
<ion-modal-view id="calendar-modal" >
        <ion-header-bar class="bar bar-header bar-positive" >
                <h1 class="title" >날짜 선택</h1>
                <div class="button button-clear button-primary" on-tap="dateModal.hide()" >
                        <span class="icon ion-close" ></span>
                </div>
        </ion-header-bar>
        <ion-content padding="false" scroll="true" has-bouncing="false" >
		<j-date-picker sel-callback="selectDate(dateObj)" sel-date="selDate" ></j-date-picker>
        </ion-content >
</ion-modal-view>

</script>
<script id="monthpicker.html" type="text/ng-template" >
<ion-modal-view id="calendar-modal" >
        <ion-header-bar class="bar bar-header bar-positive" >
                <h1 class="title" >월 선택</h1>
                <div class="button button-clear button-primary" on-tap="monthModal.hide()" >
                        <span class="icon ion-close" ></span>
                </div>
        </ion-header-bar>
        <ion-content padding="false" scroll="true" has-bouncing="false" >
		<j-month-picker sel-callback="selectMonth(dateObj)" sel-month="selMonth" ></j-month-picker>
        </ion-content >
</ion-modal-view>
</script>
<script id="yearpicker.html" type="text/ng-template" >
<ion-modal-view id="calendar-modal" >
        <ion-header-bar class="bar bar-header bar-positive" >
                <h1 class="title" >년 선택</h1>
                <div class="button button-clear button-primary" on-tap="yearModal.hide()" >
                        <span class="icon ion-close" ></span>
                </div>
        </ion-header-bar>
        <ion-content padding="false" scroll="true" has-bouncing="false" >
		<j-year-picker sel-callback="selectYear(dateObj)" sel-year="selYear" ></j-year-picker>
        </ion-content >
</ion-modal-view>
</script>
